blis==0.4.1
cairocffi==1.1.0
CairoSVG==2.4.2
catalogue==1.0.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
coloredlogs==14.0
cssselect2==0.3.0
cymem==2.0.3
Cython==0.29.20
dartsclone==0.9.0
decorator==4.4.2
defusedxml==0.6.0
Flask==1.1.2
future==0.18.2
ginza==3.1.2
humanfriendly==8.2
idna==2.10
itsdangerous==1.1.0
ja-ginza==3.1.0
ja-ginza-dict==3.1.0
Jinja2==2.11.2
joblib==0.16.0
line-bot-sdk==1.16.0
lxml==4.5.1
MarkupSafe==1.1.1
murmurhash==1.0.2
networkx==2.4
numpy==1.19.0
pandas==1.0.5
Pillow==7.2.0
plac==0.9.6
preshed==3.0.2
pycparser==2.20
pyreadline==2.1
PySimpleGUI==4.24.0
python-dateutil==2.8.1
pytz==2020.1
regex==2020.6.8
reportlab==3.5.44
requests==2.24.0
scipy==1.5.1
six==1.15.0
sortedcontainers==2.1.0
spacy==2.2.3
srsly==1.0.2
SudachiPy==0.4.9
svglib==1.0.0
thinc==7.3.1
tinycss2==1.0.2
tqdm==4.47.0
urllib3==1.25.9
wasabi==0.7.0
webencodings==0.5.1
Werkzeug==1.0.1
